<!DOCTYPE html>
<html ng-csp>
<head>
    <meta charset="utf-8">
    <title>muzeit</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/popup.css">

</head>
<body ng-controller="MainController" class="ng-cloak">

<div class="wrapper" id="wrapper" >
<div class="holder">
<header class="header clearfix">
    <div class="current-song" ng-show="!currentState.song">
        <figure class="cur-img-wrapper">
            <img src="/img/no-song.png" alt="">
        </figure>

        <div class="cur-song-info">
            <a href="" class="play-list-link"></a>
            <h1 class="cur-song-title ellipsis">No song selected </h1>
            <ul class="progress-bar clearfix">
                <li class="pb_cur-time"></li>
                <li class="pb_visual">
                                       <span class="pb-cashed">
                                           <span class="pb-current" style="width:{{(currentState.playerState.time/currentState.playerState.length*100)}}%;"></span>
                                       </span>
                </li>
                <li class="pb_duration">{{currentState.playerState.length|formatSecondsAsTime:'mm:ss'}}</li>
            </ul>
        </div>
    </div>


    <div class="current-song" ng-show="currentState.song">
        <figure class="cur-img-wrapper">
            <img ng-src="{{currentState.song.thumbnail}}" alt="{{currentState.song.title}}">
        </figure>
        <div class="cur-song-info">
            <a href="#/playlist/" class="play-list-link">{{currentState.playlist.title|formatPlaylistTitle}}</a>
            <h1 class="cur-song-title ellipsis">{{currentState.song.title}} </h1>
            <ul class="progress-bar clearfix">
                <li class="pb_cur-time">{{currentState.playerState.time|formatSecondsAsTime:'mm:ss'}}</li>
                <li class="pb_visual">
                                           <span class="pb-current" style="width:{{(currentState.playerState.time/currentState.playerState.length*100)}}%;"></span>
                </li>
                <li class="pb_duration">{{currentState.playerState.length|formatSecondsAsTime:'mm:ss'}}</li>
            </ul>
        </div>
    </div>
    <div class="playback-control">
        <ul class="playback clearfix">
            <li class="pb_bakcward" ng-click="previousSong()"><a href=""></a></li>
            <li class="pb_play" ng-class="{pb_pause : currentState.play}" ng-click="togglePlay()"><a href=""></a></li>
            <li class="pb_forward" ng-click="nextSong()"><a href=""></a></li>
        </ul>
        <div class="volume-controll">
            <span class="vc_pointer" style="top:{{100-((volume/100)*100)}}%"></span>
            <span class="vc_level" style="top:{{100-((volume/100)*100)}}%"></span>
        </div>
    </div>

</header>
<div class="player-body clearfix">
<div class="tabs-control">
    <ul class="tabs-control-wrapper">
        <li class="tc_on-the-go" ng-class="{active : isActiveScreen('/playlist/recent')}"><a href="#/playlist/recent">Recent</a></li>
        <li class="tc_discover" ng-class="{active : isActiveScreen('/discover')}"><a href="#/discover/">Discover</a></li>
        <li class="tc_playlists" ng-class="{active : isActiveScreen('/playlists')}"><a href="#/playlists">Playlists</a></li>
        <li class="tc_youtube" ng-class="{active : isActiveScreen('/youtube')}"><a href="#/youtube">YouTube</a></li>
        <li class="tc_settings" ng-class="{active : isActiveScreen('/settings')}"><a href="#/settings">Settings</a></li>
    </ul>
</div>
<div class="tabs-wrapper">
    <div ng-view></div>
</div>
</div>
<div class="dropwrapper"></div>
</div>
    <div id="alert" ng-click="hideAlert($event)" style="position: absolute;top:200px;z-index:10000;width:100%;" ng-show="alert.display"><div style="width:120px;margin:0 auto;border-radius:4px;background:#902000;color:white;text-align: center;padding:5px;" ng-bind="alert.message"></div></div>
</div>

<ng-switch on="showWelcomeScreen()">
    <ng-include src="'/views/controllers/Welcome.html'" ng-switch-when="true"></ng-include>
</ng-switch>

<ng-switch on="loading">
    <ng-include src="'/views/controllers/Loading.html'" ng-switch-when="true"></ng-include>
</ng-switch>

<script type="text/javascript" src="js/libs/script.js"></script>
<script type="text/javascript" src="js/common/dependencyList.js"></script>
<script type="text/javascript" src="js/boot.popup.js"></script>


</body>
</html>

