<div id="" ng-controller="DebugController">
    <div style="margin-top: 40px;font-size:12px;width:100%;word-wrap: break-word;">
        <div>DEBUG</div>
        <a href="pinned.html" target="_blank">Open Pinned</a> |
        <a href="popup.html" target="_blank">Open Popup in new tab</a> |
        <a href="#/loading"> Show loading Page</a> |
        <a href="#/welcome"> Show welcome Page</a> |

        <a href="" ng-click="bg.debug.init()">Refresh remote data</a>
        <a href="" ng-click="bg.logout()">Logout</a>

    </div>
</div>
