<div class="tab-playlists">
    <div class="pl-view clearfix">
        <div class="pl-info">
            <div class="pl-thumbnail" style="float:left;width:32px;height:32px;margin-right:7px;" ng-show="playlist.thumbnail"><img  style="width:32px;height:32px;" ng-src="{{playlist.thumbnail}}"/></div>
            <h2 class="pl-title">{{playlist.title|formatPlaylistTitle}}</h2>
        </div>
    </div>

    <div class="pl-body">
        <div class="pl-view clearfix" ng-show="showPlaylistsNavigation">
            <a href="#/playlists" class="back-btn">back</a>
            <div class="pl-info">
                <h2 class="pl-title">{{playlist.title}}</h2>
                <h3 class="pl-author">{{playlist.owner}} </h3>
                <!--<ul class="pl-features">
                    <li>2 new shares </li>
                    <li>1 new like</li>
                </ul>-->
            </div>
        </div>
        <div class="pl-content scrollable" ng-class="{withHeader : showPlaylistsNavigation}">
            <ul class="pl-list">
                <li class="item clearfix" ng-repeat="song in playlist.songs" ng-click="selectSong(song,playlist,dontPushToRecent)" ng-class="{active : isSongActive(song)}">
                    <img ng-src="{{song.thumbnail}}" alt="" class="pl-label">
                    <h4 class="pl-song-name">{{song.title}}</h4>
                    <ul class="pl-song-features clearfix">
                        <li>{{song.duration|formatSecondsAsTime:'mm:ss'}}</li>
                        <li>{{song.views}}  Views</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>