<div class="tab-on-the-go">
<header class="otg-header clearfix">
    <form action="" class="otg-search">
        <input type="search" id="searchInput" class="otg-search-input" placeholder="Search..." ng-change="searchYoutube()" ng-model="searchInput">
    </form>
    <ul class="otg-search-option" style="display:none;">
        <li class="so_label">Search in:</li>
        <li class="active"><a href="">YouTube</a></li>
        <li class=""><a href="">My Playlists</a></li>
        <li class=""><a href="">Discover</a></li>
    </ul>
</header>
<div class="otg-body">
<div class="otg-content scrollable">
<ul class="otg-list">
    <li ng-show="searchInput">--Friends--</li>
    <li class="item clearfix" ng-repeat="friend in friends|filter:searchInput | limitTo : 2" ng-click="goToUser(friend,$event)" ng-show="searchInput&&searchInput != ''">
        <div class="song-thumbnail" style="background-image:url({{friend.pic_square}})"></div>
        <!--<img ng-src="{{song.thumbnail}}" alt="" class="otg-label">-->
        <h4 class="otg-song-name">{{friend.name}}</h4>
        <span class="before"></span>
    </li>
    <li ng-show="searchResults && searchInput">--Songs--</li>

    <li class="item clearfix" ng-repeat="song in searchResults" ng-click="playSong(song)" ng-class="{active : (currentState.song == song)}">
        <div class="song-thumbnail" style="background-image:url({{song.thumbnail}})"></div>
        <!--<img ng-src="{{song.thumbnail}}" alt="" class="otg-label">-->
        <h4 class="otg-song-name">{{song.title}}</h4>
        <ul class="otg-song-features clearfix">
            <li>{{song.duration|formatSecondsAsTime:'mm:ss'}}</li>
            <li ng-show="song.views">{{song.views|number}}  Views</li>
        </ul>
        <ul class="otg-social otg-not-dreggable clearfix">
            <li class="so_like"><a href="">like</a></li>
            <li class="so_share"><a href="">share</a></li>
            <li class="so_delete"><a href="">delete</a></li>
            <li class="so_add">
                <a href="" class="opener" ng-click="openAddToPlaylist($event)">Add to playlist</a>
                <div class="drop-body">
                    <a href="" class="create-new-btn ellipsis"><input type="text" class="create-new-input" placeholder="Create new playlist" on-key-up="addToNewPlaylistKeyPress($event,song)"/></a>
                    <ul class="drop-list">
                        <li class="ellipsis" ng-click="addSongToPlaylist(song,'on-the-go',$event)"><a href="">On The Go</a></li>
                        <li class="ellipsis" ng-repeat="playlist in playlists" ng-click="addSongToPlaylist(song,playlist,$event)"><a href="">{{playlist.title}}</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <span class="before"></span>
        <div class="item-alert">Song was successfully added to playlist</div>
    </li>

</ul>
</div>
</div>
</div>
