<div id="welcomeScreen">
    <div class="logo-container">
        <img src="/img/muzeit.logo122x101.png"/>
    </div>

    <h1>Welcome to your private radio station</h1>
    <h3 style="text-align: center;">Muzeit is a new hangout for you and your Facebook friends to share and listen to music</h3>
    <ul class="settings-list" style="width:180px;">
        <li class="set_facebook" style="border:0;">
            <a href="" class="custom-btn" ng-show="!user._id" ng-click="connectFacebook()">Connect</a>
            <a href="" class="custom-btn" ng-show="user._id" ng-click="logout()">Disconnect</a>
        </li>
    </ul>

</div>
