<div class="tab-on-the-go" >
    <header class="pl-header clearfix">
        <form action="" class="pl-search">
            <input type="text" class="pl-search-input" placeholder="Search..." ng-model="searchInput" ng-click="switchToSearch()">
        </form>
        <!-- <a href="" class="pl-unsubscribe-btn">New Playlist</a>-->
    </header>

    <div class="otg-body">
        <div class="otg-content scrollable">
            <div class="pl-view clearfix">
                <div class="pl-info">
                    <h2 class="pl-title">{{title}}</h2>
                    <ul class="pl-features">
                        <!--<li>2 new shares </li>-->
                        <!--<li>1 new like</li>-->
                    </ul>
                </div>
            </div>

            <ul class="otg-list" ng-show="!loading && !noAccessToken">
                <li class="item clearfix" ng-repeat="playlist in youtubePlaylists" ng-click="goToPlaylist(playlist,$event)">
                    <div class="song-thumbnail" style="background-image:url({{playlist.thumbnail}})"></div>
                    <!--<img ng-src="{{playlistThumbnail(playlist)}}" alt="" class="otg-label">-->
                    <h4 class="otg-song-name">{{playlist.title}}</h4>
                    <ul class="otg-song-features clearfix">
                    </ul>
                    <span class="before"></span>
                </li>
                <li class="item clearfix" ng-repeat="user in subscriptions" ng-click="goToUser(user,$event)">
                    <div class="song-thumbnail" style="background-image:url({{user.thumbnail}})"></div>
                    <!--<img ng-src="{{playlistThumbnail(playlist)}}" alt="" class="otg-label">-->
                    <h4 class="otg-song-name">{{user.title}}</h4>
                    <ul class="otg-song-features clearfix">
                    </ul>
                    <span class="before"></span>
                </li>

                <li class="item clearfix" ng-show="youtubePlaylists.length == 0 && subscriptions.length == 0" ng-click="goToDiscover()">
                    <h4 class="otg-song-name">No playlists were found sorry... :)</h4>
                    <ul class="otg-song-features clearfix">
                    </ul>
                </li>
            </ul>
            <div ng-show="loading">
               <center> <img src="/img/loader.gif"> </center>
            </div>
            <div ng-show="noAccessToken && !loading">
                <center>
                    <h3>You're not connected to YouTube. Please Connect!</h3>
                    <a href="" class="custom-btn" ng-click="connectYoutube($event)">Connect</a>
                </center>
            </div>

        </div>
    </div>

</div>